FILESYNC_PRO_LICENSE_CSV_URL=https://docs.google.com/spreadsheets/d/e/TU_HOJA/public?output=csv
FILESYNC_PRO_DEFAULT_PLAN_CODE=basica
WOMPI_SUBSCRIPTION_LINK_MAP={"basica":"LINK_PLAN_BASICA","pro":"LINK_PLAN_PRO","premium":"LINK_PLAN_PREMIUM"}
