FILESYNC_PRO_API_URL=https://api.fylesyncpro.com
PUBLIC_BASE_URL=//api.fylesyncpro.com
FILESYNC_PRO_SITE_URL=https://fylesinc-pro.odoo.com
MP_ACCESS_TOKEN=APP_USR-TU_ACCESS_TOKEN
MP_WEBHOOK_SECRET=TU_WEBHOOK_SECRET
FILESYNC_PRO_PRICE=49.99
FILESYNC_PRO_CURRENCY=COP
FILESYNC_PRO_MAX_ACTIVATIONS=2
FILESYNC_PRO_DEV_MODE=0
FILESYNC_PRO_DEV_DEVICE_IDS=
